body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    
    background-size: 100% 100%; 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.temperature-toggle {
    margin-top: 10px;
}

#temperature {
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
}

#toggleUnitButton {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#toggleUnitButton:hover {
    background-color: #0056b3;
}

.container {
    background-color: #fff;
  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
   
    

}

h1 {
    margin-top: 0;
}

.search {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#weatherIcon {
    font-size: 64px;
}

#errorMessage {
    color: red;
}

